
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px
);

@import '../fonts/fontawesome/scss/fontawesome.scss';
@import '../fonts/fontawesome/scss/solid.scss';
@import '../fonts/fontawesome/scss/brands.scss';
@import '~bootstrap-4-grid/scss/grid.scss';
@import '../plugins/slick/slick.scss';
@import '../plugins/slick/slick-theme.scss';

$color-main:                  #0275d8;
$color-success:               #5cb85c;
$color-danger:                #d9534f;

$text-color:                  #555a61;
$text-color--muted:           #949496;

$font-size:                   13px;
$font-size--h1:               3rem;
$font-size--small:            0.75em;

$line-height:                 18px;

$font-family:                 'Roboto', Arial, sans-serif;

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1280px;

$fontThin: 'Proxima Nova Th';
$fontLight: 'Open Sans';
$fontRegular: 'Open Sans';
$fontBold: 'Proxima Nova Bl';

html, body {
    margin: 0;
    padding: 0;
    color: $text-color;
    font-family: Arial, 'Open Sans';
    font-size: $font-size;
    line-height: $line-height;
}

* {
    box-sizing: border-box;
}

a:link, a:visited {
    color: #555a61;
    text-decoration: none;
    transition: all .2s ease;
}
a:link:hover {
    color: #4d88db;
}

h1, .h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 20px;
}

h2, .h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px 0px;
    font-weight: lighter;
}

.clearfix {
    clear: both;
    display: table;
}

section {
    padding: 50px 0px;
    .section-title {
        display: flex;
        margin-bottom: 20px;

        &__inner {
            flex: 1;
        }
    }

    .section-content {
        font-size: 18px;
        line-height: 22px;
    }

    @media screen and (max-width: 1200px) {
        padding: 40px 0px;

        .section-title {
            margin-bottom: 12px;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 20px 0px;

        .section-title {
            margin-bottom: 11px;
        }
    }
}

img {
    display: block;
    max-width: 100%;
}

input.field {
    width: 100%;
    font-size: 13px;
    color: #9a9a9a;
    padding: 7px 13px;
    height: 32px;
    background-color: #fff;
    vertical-align: middle;
    outline: none;
    border: 0;
}

input.field:empty {
    color: #9a9a9a;
}

.counter-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    counter-reset: list;

    li {
        padding-left: 56px;
        position: relative;
        margin-bottom: 20px;

        &:before {
            top: 50%;
            left: 13px;
            position: absolute;
            transform: translateY(-50%);
            content: counter(list);
            counter-increment: list;
            display: block;
            width: 28px;
            height: 28px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            background: #000;
            font-size: 18px;
            color: #fff;
        }
    }
}

@import 'header';
@import 'article';
@import 'download';
@import 'program-list';
@import 'program';
@import 'footer';
