.article {
    &__heading {
        font-size: 20px;
        color: #555a61;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    &__paragraph {
        color: #555a61;
    }

    &__list {
        &_unstyled {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }
    }

    &__faq {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            font-size: 16px;
        }
    }
}
