.download {
    text-align: center;

    &__heading {

    }

    &__related {
        margin-top: 60px;

        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-item {
            width: (100% / 6);
            padding: 25px 10px 30px 10px;

            &-thumbnail {
                margin: 0 auto;
                display: block;
                width: 65px;
                margin-bottom: 17px;
            }

            &-name {
                display: block;
                font-size: 16px;
            }
        }
    }
}
