.footer {
    color: #555a61;
    background: #f3f5f6;

    &__inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__copy {
        text-align: center;

        @media screen and (min-width: $screen-md) {
            text-align: left;
        }
    }

    &__menu {
        text-align: center;
        margin-top: 10px;

        &-link {
            color: #555a61;
            margin-left: 5px;
            display: inline-block;
            border-bottom: 1px solid #555a61;

            &:hover {
                border-bottom: none;
            }

            // &:first-child {
            //     color: #4d88db !important;
            //     border-bottom: none;
            //     padding-right: 10px;
            //     border-right: 1px solid #d5d9dc;
            // }
        }

        @media screen and (min-width: $screen-md) {
            text-align: right;
            margin-top: 0px;
        }
    }

    &__text {
        text-align: center;
        color: $text-color--muted;
        margin-bottom: 0px;

        @media screen and (min-width: $screen-md) {
            text-align: left;
        }
    }
}
