.header {
    background: #f3f5f6;

    &__inner {
        min-height: 110px;
        padding: 15px 0px;
        align-items: center;
    }

    &__logo {
        display: block;
        text-align: center;
        margin-bottom: 15px;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__right {
        display: flex;
    }

    &__search-form {
        flex: 1;
        position: relative;

        &-field {
            padding-right: 45px;
        }

        &-btn {
            top: 0;
            right: 0;
            border: 0;
            width: 32px;
            height: 32px;
            font-size: 16px;
            color: #97a0ad;
            text-align: center;
            position: absolute;
            background: transparent;
            transition: all .2s ease;

            &:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, .02);
            }
        }
    }

    &__social {
        display: flex;
        margin-left: 0px;

        &-link {
            width: 32px;
            height: 32px;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            margin-left: 12px;
            display: block;
            background-color: #c4cedc;
            color: #ffffff !important;

            &:hover {
                background-color: #80a8ff;
            }
        }
    }

    @media screen and (min-width: $screen-md) {
        &__logo {
            text-align: left;
            margin-bottom: 0px;
        }

        &__social {
            margin-left: 24px;
        }
    }
}
