.process {

    &-row {
        display: flex;
        align-items: center;
    }

    /*progressbar*/
    #progressbar {
        margin: 0px;
        padding: 0px;
        display: flex;
        counter-reset: step;
        position: relative;
        margin-left: -9%;
        margin-right: -9%;

        li {
            flex: 1;
            list-style-type: none;
            color: #000;
            text-transform: uppercase;
            font-size: 9px;
            width: 25%;
            position: relative;
            letter-spacing: 1px;
            text-align: center;

            &:before {
                // content: counter(step);
                // counter-increment: step;
                content: '';
                width: 48px;
                height: 48px;
                display: block;
                position: absolute;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                // margin-left: -4px;
                left: 50%;
                top: 50%;
            }

            &:after {
                content: '';
                width: 100%;
                height: 2px;
                background: #DDDDDD;
                position: absolute;
                left: -50%;
                top: 27px;
                z-index: -1; /*put it behind the numbers*/
            }

            span {
                display: block;
                content: counter(step);
                counter-increment: step;
                width: 36px;
                height: 36px;
                line-height: 36px;
                display: block;
                font-size: 18px;
                color: #333;
                background: #DDDDDD;
                border-radius: 25px;
                margin: 0px;
            }
        }
    }

    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }

    #progressbar li.active span, #progressbar li.active:after {
        background: #2196F3;
        color: white;
    }
    #progressbar li.current:before {
        border: 1px solid #2196F3;
    }

    .step {
        flex: 1;
        padding-left: 115px;
        // max-width: 615px;

        font-size: 18px;
        line-height: 22px;

        display: none;

        &.current {
            display: block;
        }

        .number {
            color: rgba(0, 0, 0, 0.6);
            margin-bottom: 40px;
        }
        .title {
            padding-right: 5px;
            margin-bottom: 30px;
        }
        .description {
            margin-bottom: 40px;
            color: rgba(0, 0, 0, 0.6);

            p {
                margin-top: 0px;
            }
        }
        .button-holder {
            max-width: 380px;
        }
    }

    .share {
        position: relative;
        text-align: center;
        margin-bottom: 25%;

        .fb-share-button {
            span, iframe {
                width: 160px !important;
                height: 30px !important;
            }
        }

        .arrow {
            position: absolute;
            left: 50%;
            top: 140%;
            transform: translateX(-100%);

            svg {
                width: 257px;
                height: auto;
            }

            span {
                top: 5%;
                left: 45%;
                white-space: nowrap;
                transform: translateX(-50%);
                position: absolute;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #E40000;
            }
        }
    }

    .thumb {
        opacity: .4;
        padding-left: 20px;
        max-width: 477px;

        img {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (min-width: 767px) {
    .process {
        #progressbar {
            width: 36px;
            min-height: 572px;
            flex-direction: column;
            margin: 0px;

            li {
                width: 100%;

                &:before {

                }

                &:after {
                    height: 100%;
                    width: 2px;
                    left: 17px;
                    top: -50%;
                }

                span {
                    top: 50%;
                    margin: 0px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .process {
        #progressbar {
            width: 22px;
            min-height: 315px;

            li {
                &:before {
                    width: 30px;
                    height: 30px;
                }

                &:after {
                    left: 10px;
                }

                span {
                    width: 23px;
                    height: 23px;
                    line-height: 23px;
                    font-size: 14px;
                }
            }
        }
        .step {
            padding-left: 42px;

            .number, .title, .description {
                margin-bottom: 10px;
            }

            .description {
                font-size: 14px;
                line-height: 17px;
            }
        }
        .share {
            .arrow {
                span {
                    font-size: 14px;
                    line-height: 22px;
                }
                svg {
                    width: 148px;
                }
            }
        }
        .thumb {
            max-width: 243px;
        }
    }
}

@media screen and (max-width: 767px) {
    .process {
        &-row {
            display: block;
        }

        #progressbar {
            width: 118%;
            min-height: 0px;
            li {
                &:after {
                    top: 10px;
                    left: -50%;
                }

                span {
                    margin: 0px auto;
                }
            }
        }

        .step {
            margin-top: 25px;
            padding-left: 0px;

            .button-holder {
                max-width: 100%;
            }
        }

        .thumb {
            display: none;
        }
    }
}
