.program-list {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__item {
        width: (100% / 2);
        text-align: center;
        padding: 25px 10px 30px 10px;
        border-right: 2px solid #f2f5f7;
        border-bottom: 2px solid #f2f5f7;
        background-color: #fff;
        transition: all .2s ease;
        position: relative;

        &:hover {
            z-index: 10;
            box-shadow: 0 8px 32px 0 rgba(0,0,0,.08);
        }

        &:nth-child(2n) {
            border-right-width: 0px;
        }

        &:nth-last-child(-n+2) {
            border-bottom-width: 0px;
        }

        &-thumb {
            max-width: 65px;
            display: block;
            margin: 0px auto 15px;
        }

        &-name {
            display: block;
            text-align: center;
            font-size: 16px;
            color: #555a61;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-category {
            display: block;
            text-align: center;
            margin-bottom: 17px;
            font-size: 13px;
            color: #9b9b9b;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @media screen and (min-width: $screen-sm) {
            width: (100% / 3);

            &:nth-child(2n) {
                border-right-width: 2px;
            }

            &:nth-last-child(-n+2) {
                border-bottom-width: 0px;
            }

            &:nth-child(3n) {
                border-right-width: 0px;
            }

            &:nth-last-child(-n+3) {
                border-bottom-width: 0px;
            }
        }

        @media screen and (min-width: $screen-lg) {
            width: (100% / 6);

            &:nth-child(3n) {
                border-right-width: 2px;
            }

            &:nth-last-child(-n+3) {
                border-bottom-width: 0px;
            }

            &:nth-child(6n) {
                border-right-width: 0px;
            }

            &:nth-last-child(-n+6) {
                border-bottom-width: 0px;
            }
        }
    }
}
