.program {

    &__left {
        margin-bottom: 15px;
    }

    &__content {
        margin-bottom: 15px;
    }

    &__right {
        &-heading {
            font-weight: bold;
            margin-left: 20px;
        }
    }

    &__info {
        display: flex;
        align-items: center;

        &-thumbnail {
            display: block;
            max-width: 38px;
            margin-left: 5px;
            margin-right: 15px;
        }

        &-content {}

        &-name {
            font-weight: bold;
            font-size: 18px;
            color: #555a61;
            margin-bottom: 2px;
        }

        &-company {
            font-size: 13px;
            margin-bottom: 4px;
        }
    }

    &__details {
        margin: 15px 0px;
        line-height: 20px;

        dt, dd {
            margin: 0;
            display: inline;
        }
        dt {
            font-weight: 600;
        }
        dd::after {
            content: '\A';
            white-space: pre;
        }
        dt::after {
            content: ':';
        }

        &-rating {
            color: #ffa200;
            font-size: 12.5px;
        }
    }

    &__download {
        padding: 14px 24px;
        display: flex;
        align-items: center;
        background-color: #56b321;
        margin-bottom: 8px;

        &:hover {
            cursor: pointer;
            background-color: #61bd2b;
        }

        &-icon {
            color: #fff;
            font-size: 32px;
            margin-right: 20px;
        }

        &-title {
            color: #fff;
            display: block;
            font-size: 20px;
            font-weight: bold;
        }

        &-counter {
            color: #c1f384;
        }
    }

    &__mention {
        color: $text-color--muted;
    }

    &__slider {
        &-prev, &-next {
            top: 50%;
            z-index: 1;
            width: 12px;
            height: 41px;
            position: absolute;
            transform: translateY(-50%);
            background: url(../images/arrows.png);

            &:hover {
                opacity: .5;
                cursor: pointer;
            }
        }

        &-prev {
            left: 21px;
        }

        &-next {
            right: 21px;
            background-position: right 0;
        }

        &-slide {
            img {
                width: 100%;
                display: block;
            }
        }
    }

    &__description {
        margin-top: 20px;

        &-tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin: 0px -8px 24px;

            &-item {
                margin-right: 5px;
                display: inline-block;
            }

            &-link {
                color: #999 !important;
                font-size: 18px;
                display: block;
                padding: 8px;

                &:hover {
                    color: #555a61 !important;
                    text-decoration: underline;
                }

                &_active {
                    opacity: .7;
                    color: #555a61 !important;
                    font-size: 22px;
                }
            }

            &-text {
                display: none;

                &_active {
                    display: block;
                }
            }
        }
    }

    &__related {
        &-item {
            height: 60px;
            padding: 0 20px;
            align-items: center;
            display: flex;

            &:nth-child(odd) {
                background-color: #f3f5f6;
            }

            &-icon {
                width: 32px;
                display: block;
                margin-right: 15px;
            }

            &-name {
                display: block;
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-category {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
